Repository encrypit/file64: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Deploying to gh-pages from @ encrypit/file64@5d00c248f414ce0fbc3aa2fb410f9403f1a0e7c0 🚀
  functions/base64ToBlob.html
  functions/base64ToFile.html
  functions/blobToBase64.html
Due: none

build(package): specify "types", remove "esm/" dir, & add "src/" to files
  .gitignore
  package.json
  src/index.test.mjs
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ encrypit/file64@0efbd632ee18d9d5d5841e9ad27e0ba44e019fdc 🚀
  functions/base64ToBlob.html
  functions/base64ToFile.html
  functions/blobToBase64.html
Due: none

Deploying to gh-pages from @ encrypit/file64@4281a10758e537428c95d19df59b8ed436a6ca91 🚀
  functions/base64ToBlob.html
  functions/base64ToFile.html
  functions/blobToBase64.html
Due: none

ci(github): replace `npm install` with `npm ci` in workflows
  .github/workflows/build.yml
  .github/workflows/release-please.yml
Due: prettier --write

Deploying to gh-pages from @ encrypit/file64@1b9eba9ff37aaca505fee9dffedc97a822da3190 🚀
  functions/base64ToBlob.html
  functions/base64ToFile.html
  functions/blobToBase64.html
Due: none

ci(github): modularize workflow `commitlint.yml` from `build.yml`
  .github/mergify.yml
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
Due: prettier --write

Deploying to gh-pages from @ encrypit/file64@32a7b781a1af360beee027f5fb71c13192e32c75 🚀
  functions/base64ToBlob.html
  functions/base64ToFile.html
  functions/blobToBase64.html
Due: none

ci(github): add CODECOV_TOKEN to workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

Deploying to gh-pages from @ encrypit/file64@f5d73a9a4c2c8da9db4ea8876c7ed2dc3f05a260 🚀
  functions/base64ToBlob.html
  functions/base64ToFile.html
  functions/blobToBase64.html
Due: none

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Deploying to gh-pages from @ encrypit/file64@4ea5660060d8c0b2fb4251aa0812bbc19bcb62c4 🚀
  functions/base64ToBlob.html
  functions/base64ToFile.html
  functions/blobToBase64.html
Due: none

chore(husky): migrate to husky 9
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 1 high severity vulnerability
  package-lock.json
Due: prettier --write

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

build(nvmrc): bump Node.js version from 18 to 20
  .nvmrc
Due: none

ci(github): publish package to npm registry with provenance
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): use gitploy-action in build.yml
  .github/workflows/build.yml
Due: prettier --write

build(typedoc): set cacheBust to true
  typedoc.json
Due: prettier --write

build(package): fix package.json repository url
  package.json
Due: prettier --write

build(package): bump lockfileVersion from 2 to 3
  package-lock.json
  package.json
Due: prettier --write

test(jest): add moduleFileExtensions
  jest.config.ts
Due: eslint --fix

build(package): fix 1 low severity vulnerability
  package-lock.json
Due: prettier --write

build(nvmrc): bump Node.js version from 20 to 24
  .nvmrc
Due: none

test: fix script "test:esm"
  package.json
Due: prettier --write

ci(github): migrate to trusted publishing (OIDC) in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(eslint): rename eslint.config.mjs to eslint.config.mts
  eslint.config.mts
Due: none

chore: add more extensions to .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

chore(eslint): modernize eslint config and remove unused dependencies
  eslint.config.mts
  package-lock.json
  package.json
Due: prettier --write

chore(eslint): replace with `typescript-eslint`
  eslint.config.mts
  package-lock.json
  package.json
Due: prettier --write

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

chore(eslint): move configs to extends
  eslint.config.mts
Due: none

Path conditions:
  eslint --fix: any of: *.{js,mjs,ts}
  prettier --write: any of: *.{css,json,md,yml}
